header{
    /* Cor apenas para ver o texto */
    position: fixed;
    width: 100%;
    height: 10vh;
    color: #f2f2f2;
    background-color: #0c0c0c;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1%;
    justify-content: space-between;
    box-shadow: 0px 0px 3px red;
    border-bottom: 1px solid #ff4500;
}
a{
    text-decoration: none;
}
.logo{
    width: 100px;
    height: 10vh;
    min-width: 80px;
    max-width: 147px;
}
.logo a img{
    width: 100px;
    height: 10vh;
    cursor: pointer;
}

/* Menu amigão */
header #nav #menuul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}
header #nav #menuul li a:hover{
    font-size: 20px;
}
#menuul a{
    display: block;
    padding: .7rem;
    transition: 1s;
}
#menuul{
    display: flex;
    gap: .5rem;
}
#btn-mobile{
    display: none;
    cursor: pointer;
    font-size: 15px;
}
@media(max-width: 600px){
    header #nav #menuul li a:hover{
        font-size: 15px;
        border-radius: 10px;
        background-color: #ff4500;
        color: black;
    }
    .logo{
        width: 50px;
        height: 5vh;
    }
    .logo a img{
        width: 50px;
        height: 5vh;
    }
    #btn-mobile{
        display: block;
        background-color: transparent;
    }
    #menuul{
        display: block;
        border-radius: 0px 0px 10px 10px;
        position: absolute;
        width: 60%;
        top: 9.9vh;
        right: 0px;
        background-color: #0c0c0c;
        z-index: 1000;
        transition: .6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menuul{
        height: 30vh;
        visibility: visible;
        overflow-y: auto;
    }
    #menuul a{
        padding: 1rem 0;
        margin:  0 1rem;
        border-bottom: 2px solid #ffffff;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background-color: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer{
        width: 20px;
        border-top: 2px solid #ff4500;
        display: block;
        margin: 3px 0px 3px 0px;
    }

    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 1px;
        margin-top: 3px;
        background-color: currentColor;
        color: #ff4500;
        transition: .5s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
        background-color: #ff4500;
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -4px;
        background-color: #ff4500;
    }
}