@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
body{
    font-family: 'Mingzat', sans-serif;
    overflow-x:hidden;
    background-color: white;
    display: grid;

    grid-template-columns: 15vw 80vw 15vw;
    grid-template-rows: 10vh 100% 10vh;

    grid-template-areas:
    ". . . "
    ". main ."
    "f f f"
    ;
}
main{
    /* border-left: 1px solid;
    border-right: 1px solid; */
    grid-area: main;
    margin: 2% 0 2% 0;
}
#banner{
    margin-top: 1%;
    display: flex;
    justify-content: center;
}
#banner img{
    width: 350px;
}
.conteudo-main{
    text-align: center;
}
.conteudo-main h1{
    font-size: 25px;
}
.conteudo-main h2{
    font-size: 20px;
    text-align: justify;
}
.conteudo-main p{
    text-align:left;
    float: left;
    margin-bottom: 20px;
    font-size: 15px;
}
.conteudo-main .img-conteudo{
    margin: 0px 0px 20px 0px; 
}
.conteudo-main .img-conteudo a img{
    width: 50vw;
    border-radius: 4px;
    box-shadow: 0px 0px 5px black;
}
@media(max-width: 600px){
    .conteudo-main .img-conteudo a img{
        width: 100%;
    }
}