@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}
body{
    font-family: 'Mingzat', sans-serif;
    overflow-x:hidden;
    background-color: white;
    display: grid;

    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 10vh 100% 10vh;

    grid-template-areas:
    ". . . "
    ". main ."
    "f f f"
    ;
}
main{
    background-color: #f2f2f2;
    grid-area: main;
    margin: 10px 0px 10px 0px;
    box-shadow: 0px 0px 3px #000000;
}